extends layout

block content
  h1= title

  table#movieList
    tr
      th Movie
      th Plot
      th Runtime
      th Cast
      th Favorite
    each movie in data
      tr
        td= movie.title
        td= movie.plot
        td= movie.runtime
        td= movie.cast
        td
          a(href='/favorite/'+movie._id) Favorite
